AlignAfterOpenBracket               : Align
AlignConsecutiveAssignments         : true
AlignConsecutiveDeclarations        : true
AlignEscapedNewlines                : Left
AlignOperands                       : true
AlignTrailingComments               : true
AllowShortBlocksOnASingleLine       : false
AllowShortCaseLabelsOnASingleLine   : true
AllowShortFunctionsOnASingleLine    : Inline
AllowShortIfStatementsOnASingleLine : false
AllowShortLoopsOnASingleLine        : true
AlwaysBreakAfterReturnType          : None
AlwaysBreakBeforeMultilineStrings   : false
BinPackArguments                    : true
BinPackParameters                   : true
BreakBeforeBraces                   : Attach
BreakBeforeTernaryOperators         : true
ColumnLimit                         : 80
CompactNamespaces                   : false
Cpp11BracedListStyle                : true
FixNamespaceComments                : true
IncludeBlocks                       : Preserve
IndentCaseLabels                    : true
IndentPPDirectives                  : None
IndentWidth                         : 4
IndentWrappedFunctionNames          : false
MaxEmptyLinesToKeep                 : 1
NamespaceIndentation                : All
PointerAlignment                    : Right
ReflowComments                      : true
SortIncludes                        : true
SortUsingDeclarations               : true
SpaceBeforeAssignmentOperators      : true
SpaceBeforeInheritanceColon         : true
SpaceBeforeParens                   : Never
SpaceInEmptyParentheses             : false
SpacesBeforeTrailingComments        : 1
SpacesInAngles                      : false
SpacesInCStyleCastParentheses       : false
SpacesInParentheses                 : false
TabWidth                            : 4
UseTab                              : ForIndentation
